@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@600&family=Montserrat&display=swap");

.work {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.logo-principal {
  margin: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 10px;
  background-color: green;
}

.logo-principal:hover {
  background-color: #f4ce14;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: rgb(244, 206, 20);
}

.parent-logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 70px;
  align-self: center;
}

header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-template-columns: auto auto;
}

p {
  font-size: 9px;
  color: #ffff;
}

.logo-text {
  font-family: "League Spartan", sans-serif;
  padding: 5px;
}

.Img01 {
  width: 100%;
  height: 750px;
  position: absolute;
  top: 20;
  left: 0;
  margin: 0;
  z-index: -1; /* Coloca la imagen detrás del contenido si es necesario */
  object-fit: cover; /* Cortará la imagen manteniendo la relación de aspecto */
  filter: opacity(0.3);
}

.steelframe {
  margin: 0 auto;
  width: 80%;
  font-size: 60px;
  font-weight: bold;
}

.steelframe01 {
  margin: 0 auto;
  width: 80%;
  padding-top: 80px;
  font-size: 100px;
  padding-left: 1%;
  font-weight: bold;
}

.steelframe02 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  font-size: 60px;
  color: #ffff;
  padding-left: 1%;
}

.btn {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  align-self: center;
  border: 2px solid #f4ce14;
  color: #f4ce14;
  border-radius: 20px;
}

.btn:hover {
  background-color: #f4cf143a;
}

.title {
  font-size: 60px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  margin-top: 330px;
}

.subtitle {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  color: #ffff;
}

.card {
  display: flex;
  justify-content: center;
  align-self: center;
}

.cards {
  text-align: center;
  border: 2px solid #f4ce14;
  border-radius: 20px;
  width: 80%;
  margin: 30px;
  padding: 10px;
}

.card-title {
  color: #f4ce14;
  font-size: 30px;
  text-decoration: underline;
}

.card-subtitle {
  color: #ffff;
  padding: 10px;
  font-size: 15px;
}

.card-subtitle01 {
  color: #ffff;
  padding: 10px;
  font-size: 15px;
}

.background-color-image {
  background-color: #f4ce14;
}

.background-color-image .card-title {
  color: #000;
  text-decoration: underline;
}

.background-color-image .card-subtitle {
  color: #000;
}

.image-circle {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
  margin-top: 40px;
}

.text-circle {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.yellow-bg .card-subtitle {
  color: black;
}

.image-circle .card-title,
.image-circle .card-subtitle {
  width: 700px;
}

.image-circle .card-title {
  font-size: 60px;
}

.image-circle .card-subtitle {
  font-size: 30px;
}

.image-circle-01 {
  border: 4px solid black;
  width: 500px;
  height: 500px;
  opacity: 80%;
  background-image: url(https://i.pinimg.com/564x/ab/f8/2b/abf82bdc9bdae779ba21799b538cf3ad.jpg);
  position: relative;
  border-radius: 100%;
  left: 50px;
  top: 100px;
}

.image-circle-02 {
  border: 4px solid black;
  width: 500px;
  height: 500px;
  background-image: url(https://i.pinimg.com/564x/46/e7/6a/46e76ac7024806ec32264568bb4809f7.jpg);
  position: relative;
  border-radius: 100%;
  left: 200px;
  top: -50px;
}

.image-circle-03 {
  border: 4px solid #f4ce14;
  width: 500px;
  height: 500px;
  background-image: url(https://i.pinimg.com/564x/ab/f8/2b/abf82bdc9bdae779ba21799b538cf3ad.jpg);
  opacity: 80%;
  position: relative;
  border-radius: 100%;
  left: -50px;
  top: 50px;
}

.image-circle-04 {
  border: 4px solid #f4ce14;
  width: 500px;
  height: 500px;
  background-image: url(https://i.pinimg.com/564x/46/e7/6a/46e76ac7024806ec32264568bb4809f7.jpg);
  position: relative;
  border-radius: 100%;
  left: 150px;
  top: -50px;
}

.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  border: 4px solid #f4ce14;
}

.panel.active {
  flex: 5;
}

.btn-info {
  width: 100%;
  border: 2px solid #f4ce14;
  border-radius: 0px 0px 20px 20px;
  color: rgb(244, 206, 20);
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.btn-info:hover {
  opacity: 50%;
}

.project-together {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4ce14;
  color: #000;
}

.form {
  width: 400px;
}

.banner-form {
  width: 900px;
}
.comencemos {
  font-size: 90px;
  font-weight: bold;
}

.completa {
  font-size: 30px;
}

li {
  list-style-type: none;
}

h5 {
  text-align: center;
}

textarea,
input {
  margin-top: 5px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
}

textarea {
  border-radius: 20px 20px 0 0;
  height: 100px;
}

textarea,
input:focus {
  outline: none;
}

li {
  margin-bottom: 20px;
  font-weight: bold;
}

.btn-info-down {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 0px 0px 20px 20px;
  cursor: pointer;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  color: #000;
}

.btn-info-down:hover {
  background-color: #00000010;
}

.presupuesto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4ce14;
  color: #000;
}

.presupuesto .card-subtitle {
  font-size: 30px;
  color: #000;
}

.presupuesto .card-title {
  font-size: 50px;
  color: #000;
  font-weight: bold;
}

.introducir-presupuesto {
  width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.card-presupuesto {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.p2{
  border-radius: 20px 20px 0px 0px;
}

@media (max-width: 1680px) {
  .steelframe01 {
    width: 80%;
    font-size: 50px;
  }
  .steelframe02 {
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 200px;
    justify-content: start;
    align-items: center;
  }

  .Img01 {
    height: 350px;
  }

  .title {
    padding-top: 20px;
    font-size: 30px;
    width: 100%;
    margin-top: 80px;
  }
  .btn {
    width: 100%;
  }

  .subtitle {
    font-size: 20px;
  }

  .card {
    display: flex;
  }
  .cards {
    width: 100%;
  }

  .image-circle-01 {
    width: 250px;
    height: 250px;
    left: -30px;
    top: 30px;
  }

  .image-circle-02 {
    width: 250px;
    height: 250px;
    left: 0px;
    top: 0px;
  }

  .image-circle-03 {
    width: 250px;
    height: 250px;
    left: 40px;
    top: 20px;
  }

  .image-circle-04 {
    width: 250px;
    height: 250px;
    left: 10px;
    top: -10px;
  }
  .background-color-image {
    width: 100%;
    margin: 0 auto;
  }

  .image-circle .card-title {
    font-size: 40px;
    margin: 0 auto;
    width: 100%;
  }
  .image-circle .card-subtitle {
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
  }

  .container {
    display: none;
  }
  .project-together {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .banner-form {
    width: 80%;
    margin: 0 auto;
  }
  .comencemos {
    font-size: 40px;
  }

  .completa {
    font-size: 20px;
  }

  .steelframe {
    font-size: 30px;
  }

  ul {
    display: inline;
  }

  .form {
    width: 400px;
  }

  textarea,
  input {
    width: 90%;
  }

  .btn-info-down {
    width: 90%;
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .steelframe01 {
    width: 350px;
    font-size: 40px;
  }
  .steelframe02 {
    font-size: 20px;
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
  }

  .Img01 {
    height: 400px;
  }

  .btn {
    font-size: 15px;
    text-align: center;
    width: 150px;
  }

  .title {
    padding-top: 0px;
    font-size: 30px;
    width: 350px;
    margin-top: 80px;
  }

  .subtitle {
    width: 350px;
    font-size: 19px;
  }

  .card {
    display: grid;
    grid-template-columns: auto;
  }

  .cards {
    width: 300px;
  }

  .image-circle-01 {
    width: 160px;
    height: 160px;
    left: -30px;
    top: 30px;
  }

  .image-circle-02 {
    width: 160px;
    height: 160px;
    left: 0px;
    top: 0px;
  }

  .image-circle-03 {
    width: 160px;
    height: 160px;
    left: 40px;
    top: 20px;
  }

  .image-circle-04 {
    width: 160px;
    height: 160px;
    left: 10px;
    top: -10px;
  }
  .background-color-image {
    width: 100%;
    margin: 0 auto;
  }

  .image-circle .card-title {
    font-size: 20px;
    margin: 0 auto;
    width: 150px;
  }
  .image-circle .card-subtitle {
    margin: 0 auto;
    width: 150px;
    font-size: 10px;
  }

  .container {
    display: none;
  }
  .project-together {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
  }

  .banner-form {
    width: 350px;
    margin: 0 auto;
  }
  .comencemos {
    font-size: 40px;
  }

  .completa {
    font-size: 20px;
  }

  .steelframe {
    font-size: 30px;
  }

  

  textarea,
  input {
    width: 90%;
  }

  .btn-info-down {
    margin-bottom: 40px;
  }

  .logo-principal {
    background-color: green;
    padding: 0px;
    width: 50px;
    height: 50px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 300px;
  }

  .card-presupuesto {
    width: 100%;
  }

  .presupuesto .card-subtitle {
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    padding: 20px ;
  }

  .presupuesto .card-title {
    margin-top: 20px;
    font-size: 20px;
  }

  .introducir-presupuesto input {
    width: 250px;
  }

  .btn-info-down {
    font-size: 20px;
  }

  .introducir-presupuesto .btn-info-down{
    width: 250px;
  }

  .introducir-presupuesto{
    padding-bottom: 0px;
  }

}

.swal2-show {
  border: 2px solid #000;
  color: #000;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
}

.swal2-container button:where(.swal2-styled).swal2-confirm {
  background-color: #f4ce14;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 20px;
}

.swal2-actions {
  border-radius: 20px;
  color: #000;
}

.swal2-popup.swal2-toast {
  color: #f4ce14;
  font-size: 20px;
  font-weight: bold;
}

.box {
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}
