@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@600&family=Montserrat&display=swap");

.work{
  color: white;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100vh;
  position:fixed;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.logo-principal{
  width: 500px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  color: #f4ce14;
}

.parent-logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 70px;
  align-self: center;
}

header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-template-columns: auto auto;
}

p {
  font-size: 9px;
  color: #ffff;
}

.logo-text {
  font-family: "League Spartan", sans-serif;
  padding: 5px;
}

.Img01 {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 10;
  left: 0;
  margin: 0;
  z-index: -1; /* Coloca la imagen detrás del contenido si es necesario */
  object-fit: cover; /* Cortará la imagen manteniendo la relación de aspecto */
  filter: grayscale(100%);
  
}

.steelframe01 {
  padding-top: 400px;
  font-size: 115px;
  padding-left: 1%;
  font-weight: bold;
}

.steelframe02 {
  display: flex;
  font-size: 60px;
  color: #ffff;
  padding-left: 1%;
}

.btn {
  cursor: pointer;
  font-size: 30px;
  margin: 10px;
  padding: 5px;
  align-self: center;
  border: 2px solid #f4ce14;
  color: #f4ce14;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.562);
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 350px;
}

.subtitle {
  font-size: 30px;
  text-align: center;
  color: #ffff;
}

.card {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.cards {
  text-align: center;
  border: 2px solid #f4ce14;
  border-radius: 20px;
  width: 350px;
  margin: 30px;
  padding: 10px;
}

.card-title{
  font-size: 30px;
  font-weight: bold;
}

.card-subtitle{
  color: #ffff;
  padding: 10px;
  font-size: 15px;
}

.image-circle{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
}

.yellow-bg{
  background-color:#f4ce14;
  color: white;
  font-weight: bold;
}

.yellow-bg .card-subtitle{
  color: black;
}

.image-circle .card-title, .image-circle .card-subtitle{
  width: 700px;
}

.image-circle .card-title{
  margin-top: 150px;
  font-size: 60px;
}

.image-circle .card-subtitle{
  font-size: 30px;
}



.image-circle-01{
  width: 500px;
  height: 500px;
  background-image: url(https://i.pinimg.com/564x/ab/f8/2b/abf82bdc9bdae779ba21799b538cf3ad.jpg);
  position: relative;
  border-radius: 100%;
  left: 100px;
  top: 150px;
}

.image-circle-02{
  width: 500px;
  height: 500px;
  background-image: url(https://i.pinimg.com/564x/46/e7/6a/46e76ac7024806ec32264568bb4809f7.jpg);
  position: relative;
  border-radius: 100%;
  left: 300px;
  bottom: 100px;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.panel{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel.active{
  flex: 5;
}